# Server
REST_PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Redis
REDIS_URL="redis://localhost:6379"

# OIDC Authentication
OIDC_ISSUER="https://sso.koiosdigital.net/realms/fittime"
OIDC_AUDIENCE="account"
OIDC_JWKS_URI="https://sso.koiosdigital.net/realms/fittime/protocol/openid-connect/certs"


# Development/Debug
NODE_ENV=development
